[viewBag]
==
<div class="container">
  <div class="row">
    <div class="col l6 m6 s12 history">
      <h5 class="white-text">{{ 'Kvinnofridslinjen' |_ }}</h5>   
      <h5 class="white-text">020 50 50 50</h5>  
      <p class="white-text p-small">{{ 'Kvinnofridslinjen är en nationell stödtelefon för dig som utsatts för hot och våld eller är anhörig till någon som gör det. De har öppet dygnet runt. Samtalet är gratis och syns inte på telefonräkningen' |_ }}</p>
    </div>    

    <!-- Right column of footer -->
    <div class="col l6 m6 s12 contact-holder">
      <h5 class="white-text">{{ 'Kontakt' |_ }}</h5>
      
      <h6 class="white-text mdi-action-home">{{ 'ADRESS' |_ }}</h6>   
      <h6 class="sexy-type">Box 209. 135 27, Tyresö</h6>   
      <div class="divider"></div>
      
      <h6 class="white-text mdi-hardware-phone-android">{{ 'TELEFONNUMMER' |_ }}</h6>
      <h6 class="sexy-type">08-742 23 33</h6>
      <div class="divider"></div>
      
      <h6 class="white-text mdi-communication-email">MAIL</h6>
      <h6><a href="/kontakt" class="white-text sexy-type">tyreso.kvinnojour@telia.com</a></h6>
      <div class="divider"></div>  
    </div>
  </div>
</div>

<div class="footer-copyright">
  <div class="container">
    <div class="row">
      <div class="col l6 m6 s12">
      &copy; {{ "now"|date('Y') }}
      {{ 'Gjort av' |_ }} <a class="orange-text text-lighten-3" target="_blank" href="https://www.linkedin.com/profile/view?id=AAIAABfkJf4B-vLRKbA9oMgGT4uge5UtEuugJXA&trk=nav_responsive_tab_profile">Filip Bengtegård</a>
      </div>
      <div class="col l6 m6 s12">
          <a class="orange-text text-lighten-3 right" href="http://intra.tyresokvinnojour.se/" target="_blank">{{ 'Intranät' |_ }}</a>
      </div>
    </div>
  </div>
</div>