description = "Till Hjälp & Stöd"

[viewBag]
snippetCode = "praktiska råd"
snippetName = "Praktiska råd"
==
<div class="article-content call-to-action scrollspy" id="råd">
        <div class="row">
        <div class="col l3 m6 s12">
            <h2 class="center"><i class="material-icons red700 medium center">create</i></h2>
            <h6 class="center"><strong>Anteckna</strong></h6>
            <p class="p-small">varje gång han slår dig. Då har du något att gå tillbaka till och kan lättare komma ihåg vad som hänt.
            </p>
        </div>
        <div class="col l3 m6 s12">
            <h2 class="center"><i class="material-icons red700 medium center">favorite</i></h2>
            <h6 class="center"><strong>Berätta för någon.</strong></h6>
            <p class="p-small">Tala om för någon du litar på vad du blivit utsatt för. Det kan vara en väninna, släkting, kamrat eller någon på arbetet. Även om du inte orkar göra något åt saken just då så är det bra att någon vet vad du går igenom.</p>
        </div>
        <div class="col l3 m6 s12">
            <h2 class="center"><i class="material-icons red700 medium center">smartphone</i></h2>
            <h6 class="center"><strong>Dokumentera skadorna.</strong></h6>
            <p class="p-small">Skriv upp och försök fotografera skadorna själv. Vid läkarbesök ska du kräva att läkaren tar fotografier. Även om du inte gör något åt situationen direkt, så finns bilderna där den dag du gör din                      anmälan.</p>
        </div>
        <div class="col l3 m6 s12">
            <h2 class="center"><i class="material-icons red700 medium center">warning</i></h2>
            <h6 class="center"><strong>Tro inte på honom när han säger att hans ska sluta slå.</strong></h6>
            <p class="p-small">Ta reda på vart du kan vända dig när som helst på dygnet om han börjar slå igen, t ex socialjouren, väninna eller släkting. Fråga släktingarna om nyckel till dem.</p>
        </div>
    </div>
</div>