description = "Till Hjälp & Stöd"

[viewBag]
snippetCode = "Praktiska Råd Engelska"
snippetName = "Praktiska Råd Engelska"
==
<div class="article-content call-to-action scrollspy" id="råd">
    <div class="row">
    <div class="col l3 m6 s12">
        <h2 class="center"><i class="material-icons red700 medium center">create</i></h2>
        <h6 class="center"><strong>Take notes</strong></h6>
        <p class="p-small">every time he hits you. It will make it easier for you to go back and remember what happened. </p>
    </div>
    <div class="col l3 m6 s12">
        <h2 class="center"><i class="material-icons red700 medium center">favorite</i></h2>
        <h6 class="center"><strong>Talk to someone. </strong></h6>
        <p class="p-small">Let someone know what is happening to you and what you are going through. It can be a friend, relative or someone at work. You don’t have to be ready to leave him, but it is good if another person knows what you are going through.</p>
    </div>
    <div class="col l3 m6 s12">
        <h2 class="center"><i class="material-icons red700 medium center">smartphone</i></h2>
        <h6 class="center"><strong>Document your injuries.</strong></h6>
        <p class="p-small">Write down or photograph your injuries. When you visit the doctor you can demand that he take pictures. It is good to have pictures if you decide to report him in the future, even if you don’t want to leave him now.</p>
    </div>
    <div class="col l3 m6 s12">
        <h2 class="center"><i class="material-icons red700 medium center">warning</i></h2>
        <h6 class="center"><strong>Don’t believe him when he says he is going to stop hitting you.</strong></h6>
        <p class="p-small">Find out who you can turn to, even if something happens in the middle of the night. It can be social services, a friend or a relative. Ask friends or relatives for a key. </p>
    </div>
</div>
</div>
<br>