description = "Till Hem"

[viewBag]
snippetCode = "Radera Historik Engelska"
snippetName = "Radera Historik Engelska"
==
<div class="history">    
          <!-- Explorer Button -->
          <a class="modal-trigger" href="#modal4">
            <img src="http://localhost:8888/storage/app/media/explorer.svg" alt="IE Icon"/>
          </a>
          <div id="modal4" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Explorer</h4>
              <img src="http://localhost:8888/storage/app/media/explorer.svg" alt="IE Icon"/>
              <hr>
              <p>1. Open Internet Explorer by clicking on <b>Start</b>. In the search tab write <b>Internet Explorer</b> and in the list of results click Internet Explorer</p>
              <p>2. Click on the button called <b>Tools</b>, point to security and later click on <b>Remove Web History</b></p>
              <p>3. Select the check box next to the data categories that you want to remove.</p>
              <p>4. Click <b>Remove.</b></p>

            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Jag förstår</a>
            </div>
          </div>
          <!-- Chrome Button -->
          <a class="modal-trigger" href="#modal3">
            <img src="http://localhost:8888/storage/app/media/chrome.svg" alt="Chrome Icon"/>
          </a>
          <div id="modal3" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Chrome</h4>
              <img src="http://localhost:8888/storage/app/media/chrome.svg" alt="Chrome Icon"/>
              <hr>
              <p>1. In the top-right corner of the browser window, click the Chrome menu button</p>
              <p>2. Select History.</p>
              <p>3. Click the button Clear browsing data. A dialog will appear.</p>
              <p>4. From the drop-down menu, select how much history you want to delete. To clear your entire browsing history, select the beginning of time.</p>
              <p>5. Check the boxes for the data you want Chrome to clear, including 'Browsing History.'.</p>
              <p>6. Click the button Clear browsing data.</p>

            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Jag förstår</a>
            </div>
          </div> 
          <!-- Firefox Button -->
          <a class="modal-trigger" href="#modal2">
            <img src="http://localhost:8888/storage/app/media/firefox.svg" alt="Firefox Icon"/>
          </a>
          <div id="modal2" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Firefox</h4>
              <img src="http://localhost:8888/storage/app/media/firefox.svg" alt="Firefox Icon"/>
              <hr>
              <p>1. Click the menu button, choose History, and then Clear Recent History…</p>
              <p>2. Select how much history you want to clear.</p>
              <p>3. Finally, click the Clear Now button. The window will close and the items you've selected will be cleared.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Jag förstår</a>
            </div>
          </div> 
          <!-- Safari button -->
          <a class="modal-trigger" href="#modal1">
            <img src="http://localhost:8888/storage/app/media/safari.svg" alt="Safari Icon"/>
          </a>
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Safari</h4>
              <img src="http://localhost:8888/storage/app/media/safari.svg" alt="Safari Icon"/>
              <hr>
              <p>1. Open Safari.</p>
              <p>2. Click ‘History’ and select ‘Clear History and Website Data.’</p>
              <p>3. Select how much history you want to clear.</p>
              <p>4. Click Clear History. </p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Jag förstår</a>
            </div>
          </div>