description = "Till Hem"

[viewBag]
snippetCode = "Historik Knapparna"
snippetName = "Historik Knapparna"
==
<div class="history">    
          <!-- Explorer Button -->
          <a class="modal-trigger" href="#modal4">
            <img src="http://localhost:8888/storage/app/media/explorer.svg" alt="IE Icon"/>
          </a>
          <div id="modal4" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Explorer</h4>
              <img src="http://localhost:8888/storage/app/media/explorer.svg" alt="IE Icon"/>
              <hr>
              <p>1. Öppna Internetinställningar genom att klicka på <b>Start</b>. I sökrutan skriver du  <b>Internet Explorer</b> och i listan över resultat klickar du sedan på Internet Explorer</p>
              <p>2. Klicka på knappen <b>Verktyg</b>, peka på Säkerhet och klicka sedan på <b>Ta bort webbhistorik.</b></p>
              <p>3. Markera kryssrutan bredvid de informationskategorier som du vill ta bort.</p>
              <p>4. Klicka på <b>Ta bort.</b></p>
              
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Jag förstår</a>
            </div>
          </div>
          <!-- Chrome Button -->
          <a class="modal-trigger" href="#modal3">
            <img src="http://localhost:8888/storage/app/media/chrome.svg" alt="Chrome Icon"/>
          </a>
          <div id="modal3" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Chrome</h4>
              <img src="http://localhost:8888/storage/app/media/chrome.svg" alt="Chrome Icon"/>
              <hr>
              <p>1. Klicka på Chrome-menyn i övre högra hörnet av webbläsarfönstret.</p>
              <p>2. Välj Historik.</p>
              <p>3. Klicka på Ta bort webbinformation. En dialogruta öppnas.</p>
              <p>4. Välj i rullgardinsmenyn hur mycket av historiken som ska tas bort. Om du vill ta bort hela webbhistoriken väljer du tidens början.</p>
              <p>5. Markera kryssrutorna för Webbhistorik och för övrig data i Chrome som ska tas bort.</p>
              <p>6. Klicka på Rensa webbinformation.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Jag förstår</a>
            </div>
          </div> 
          <!-- Firefox Button -->
          <a class="modal-trigger" href="#modal2">
            <img src="http://localhost:8888/storage/app/media/firefox.svg" alt="Firefox Icon"/>
          </a>
          <div id="modal2" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Firefox</h4>
              <img src="http://localhost:8888/storage/app/media/firefox.svg" alt="Firefox Icon"/>
              <hr>
              <p>1. Klicka på Historik i menyn och välj Rensa ut tidigare historik…</p>
              <p>2. Välj hur mycket historik du vill rensa ut.</p>
              <p>3. Klicka på Ta bort. Fönstret Rensa ut tidigare historik stängs och datan du valde rensas ut.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Jag förstår</a>
            </div>
          </div> 
          <!-- Safari button -->
          <a class="modal-trigger" href="#modal1">
            <img src="http://localhost:8888/storage/app/media/safari.svg" alt="Safari Icon"/>
          </a>
          <div id="modal1" class="modal modal-fixed-footer">
            <div class="modal-content">
              <h4>Safari</h4>
              <img src="http://localhost:8888/storage/app/media/safari.svg" alt="Safari Icon"/>
              <hr>
              <p>1. Öppna Safari</p>
              <p>2. Välj "historik" på menyfältet högst upp i webbläsaren och välj "rensa historik."</p>
              <p>3. Välj hur mycket historik du vill rensa ut.</p>
              <p>4. Klicka Rensa Historik.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Jag förstår</a>
            </div>
          </div>